<h1>Make your form here</h1>

<form method="post" action="/pirates">
  <label><input type="" name=""/></label><br/><br/>
  <label><input type="" name=""/></label><br/><br/>
  <label><input type="" name=""/></label><br/><br/>
  <label><input type="" name=""/></label><br/><br/>
  <label><input type="" name=""/></label><br/><br/>
</form>
