<h1>Make your form here</h1>

<form method="post" action="/pirates">
  <label>Pirate Name<input type="text" name="pirate[name]"/></label><br/><br/>
  <label><input type="text" name="pirate[weight]"/></label><br/><br/>
  <label><input type="text" name=""/></label><br/><br/>
  <label><input type="text" name=""/></label><br/><br/>
  <label><input type="text" name=""/></label><br/><br/>
</form>
